# This workflow will install dependencies with Bun, build the source code, and run tests.
# For more information on Bun in GitHub Actions, see: https://bun.sh/docs/cli/install#github-actions

name: Tests

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest # or a specific version like '1.1.20'

            - name: Install dependencies
              run: bun install

            - name: Build
              run: bun run build --if-present

            - name: Run tests
              run: bun test
